@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  margin: 20px;
}

.main-video {
  display: flex;
  position: relative;
  margin-top: 2rem;
  justify-content: center;
  padding: 10px;
}
.slide {
  padding: 10px;
}
.card {
  width: 19.2%;
  height: auto;
  border-radius: 5%;
  margin: 0.4%;
  filter: drop-shadow(5px 5px 10px #000);
  outline: solid 0px rgba(255, 255, 255, 0.65);
  transition: outline 0.1s linear;
}
.card:hover {
  outline-width: 4px;
}
.card-div {
  padding: 1px;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #00000036;
}

.nav-black {
  background-color: black;
  transition: ease-in-out 800ms;
}

.video-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.image-detail {
  justify-content: center;
  width: 100%;
  position: absolute;
  filter: brightness(50%);
}

.header-info {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 60%;
  font-size: 20px;
  line-height: 1.6;
}
.article-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 110px;
  position: relative;
  padding-left: 10%;
}

.detail-cont {
  display: flex;
  position: relative;
}

.video-overlay {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
}
.info-footer,
.info-f {
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.info-f {
  height: 30vh;
}

.footer-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-info {
  display: flex;
  height: 50%;
  margin: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.franchise {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  border-radius: 10px;
  border: 4px solid #3e404c;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.video-feed {
  display: flex;
  justify-content: space-evenly;
}

.logo-wrapper {
  padding: 10px 60px;
  cursor: pointer;
}

.pixar:hover {
  background: url("https://prod-ripcut-delivery.disney-plus.net/v1/rawFiles/disney/RAW_92FA84DF0F5D951171B41E5947716ADA382A15AE5DA37869E9D592D043F49316");
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}
.disney:hover {
  background: url("https://prod-ripcut-delivery.disney-plus.net/v1/rawFiles/disney/RAW_C061B00E543326DA345FBF996B4D3D76422B58A49FDEE9AD9A2664618619A8F9");
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}

.starwars:hover {
  background: url("https://prod-ripcut-delivery.disney-plus.net/v1/rawFiles/disney/RAW_59F432D7A600A8F1CE36AE4D0B96570AC7C8277A0E8855BC06FABBAE090E6577");
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}
.marvel:hover {
  background: url("https://prod-ripcut-delivery.disney-plus.net/v1/rawFiles/disney/RAW_B8F3C4DDB037CD1840A53BDFA0AA0504E9FDDE7781D62D28230D5C74F2B06624");
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}
.natgeo:hover {
  background: url("https://prod-ripcut-delivery.disney-plus.net/v1/rawFiles/disney/RAW_16793CC7E2AF7B8687B0DD00673503CBC14CB2C801952D62B4551B6866073650");
  background-size: cover;
  border: 4px solid white;
  transform: scale(1.05);
}

.nav,
.header-info {
  position: fixed;
  top: 0;
  height: 10%;
  right: 0;
  left: 0;
  bottom: auto;
  visibility: visible;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 20px;
}

.menu li {
  justify-content: center;
}

.menu a {
  font-size: 17px;
  margin: 1rem;
  position: relative;
  display: block;
  padding: 5px;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
  transform: scaleX(1);
}

.trailer {
  cursor: pointer;
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 40px;
}

.trailer a:hover {
  transform: scale(1.05);
}

.trailer-video {
  margin-top: 1rem;
}
